<p id="notice"><%= notice %></p>

<h1>Student Academics</h1>

<table>
  <thead>
    <tr>
      <th>Estudiante</th>
      <th>Actividad</th>
      <th>Académico</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_academics.each do |student_academic| %>
      <tr>
        <td><%= student_academic.student.full_name %></td>
        <td><%= student_academic.activity.name %></td>
        <td><%= student_academic.academic.name %></td>
        <td><%= link_to 'Show', student_academic %></td>
        <td><%= link_to 'Edit', edit_student_academic_path(student_academic) %></td>
        <td><%= link_to 'Destroy', student_academic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student Academic', new_student_academic_path %>
