<p id="notice"><%= notice %></p>

<h1>Student Scholarships</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Scholarship</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_scholarships.each do |student_scholarship| %>
      <tr>
        <td><%= student_scholarship.student %></td>
        <td><%= student_scholarship.scholarship %></td>
        <td><%= link_to 'Show', student_scholarship %></td>
        <td><%= link_to 'Edit', edit_student_scholarship_path(student_scholarship) %></td>
        <td><%= link_to 'Destroy', student_scholarship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student Scholarship', new_student_scholarship_path %>
