<p id="notice"><%= notice %></p>

<h1>Control Escolar</h1>

<p>
Aquí puede administrar la información relacionada con el sistema.
</p>

<p>
<%= link_to 'Estudiantes', students_path %>

<br/>

<%= link_to 'Academicos', academics_path %>

<br/>

<%= link_to 'Cursos', courses_path %>

<br/>

<%= link_to 'Ingreso de estudiantes', student_entries_path %>
</p>
