<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @nationality.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @nationality.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @nationality.country %>
</p>

<p>
  <strong>Iso2:</strong>
  <%= @nationality.iso2 %>
</p>

<%= link_to 'Edit', edit_nationality_path(@nationality) %> |
<%= link_to 'Back', nationalities_path %>
